Release.zip
VotV.zip
VotV/Binaries/Win64/pyChaosMod/build/*
VotV/Binaries/Win64/pyChaosMod/dist/*
VotV/Binaries/Win64/pyChaosMod/logs/*
VotV/Binaries/Win64/pyChaosMod/src/__pycache__/*
VotV/Binaries/Win64/pyChaosMod/*.toc
VotV/Binaries/Win64/pyChaosMod/*.toc
VotV/Binaries/Win64/pyChaosMod/cfg/*.cfg
VotV/Binaries/Win64/pyChaosMod/direct_master.json
VotV/Binaries/Win64/pyChaosMod/*.pyc
VotV/Binaries/Win64/pyChaosMod/*.pyo
VotV/Binaries/Win64/pyChaosMod/*.pyd
VotV/Binaries/Win64/pyChaosMod/emails_master.json
VotV/Binaries/Win64/pyChaosMod/hints_master.json
VotV/Binaries/Win64/pyChaosMod/shops_master.json
VotV/Binaries/Win64/pyChaosMod/direct_master.json
VotV/Binaries/Win64/pyChaosMod/src/twitch/__pycache__/*.pyc
.vscode/settings.json
VotV/Binaries/Win64/pyChaosMod/ChaosBot.spec
VotV/Binaries/Win64/pyChaosMod/ws-test.py
VotV/Binaries/Win64/pyChaosMod/png/panelPhoto.txt
VotV/Binaries/Win64/pyChaosMod/listen/*.txt
VotV/Binaries/Win64/pyChaosMod/channel_point_rewards.json
VotV/Binaries/Win64/pyChaosMod/ChaosBot_Updater.spec
VotV/Binaries/Win64/pyChaosMod/ChaosBot.exe
VotV/Binaries/Win64/pyChaosMod/updater.log
VotV/Binaries/Win64/pyChaosMod/src/dataclass/__pycache__/*.pyc
VotV/Binaries/Win64/pyChaosMod/src/utils/__pycache__/*.pyc
VotV/Binaries/Win64/pyChaosMod/download_log.txt
VotV/Binaries/Win64/pyChaosMod/ChaosBot_Updater.exe
VotV/Binaries/Win64/pyChaosMod/myvenv/*
/.idea/*
.vscode/launch.json
VotV/Binaries/Win64/pyChaosMod/src/game/__pycache__/game_connection.cpython-312.pyc
VotV/Binaries/Win64/pyChaosMod/src/game_connection/__pycache__/game_connection.cpython-312.pyc
VotV/Binaries/Win64/pyChaosMod/src/game_connection/__pycache__/websocket_handler.cpython-312.pyc
VotV/Binaries/Win64/pyChaosMod/twitch_benchmark.py
list_store.json
store_data.csv
store_list_converter.py
