Release.zip
VotV.zip
VotV/Binaries/Win64/pyChaosMod/build/*
VotV/Binaries/Win64/pyChaosMod/dist/*
VotV/Binaries/Win64/pyChaosMod/logs/*
VotV/Binaries/Win64/pyChaosMod/src/__pycache__/*
VotV/Binaries/Win64/pyChaosMod/*.toc
VotV/Binaries/Win64/pyChaosMod/*.toc
VotV/Binaries/Win64/pyChaosMod/cfg/*.cfg
VotV/Binaries/Win64/pyChaosMod/direct_master.json
VotV/Binaries/Win64/pyChaosMod/*.pyc
VotV/Binaries/Win64/pyChaosMod/*.pyo
VotV/Binaries/Win64/pyChaosMod/*.pyd
VotV/Binaries/Win64/pyChaosMod/emails_master.json
VotV/Binaries/Win64/pyChaosMod/hints_master.json
VotV/Binaries/Win64/pyChaosMod/shops_master.json
VotV/Binaries/Win64/pyChaosMod/direct_master.json
VotV/Binaries/Win64/pyChaosMod/src/twitch/__pycache__/*.pyc
.vscode/settings.json
VotV/Binaries/Win64/pyChaosMod/ChaosBot.spec
VotV/Binaries/Win64/pyChaosMod/ws-test.py
VotV/Binaries/Win64/pyChaosMod/png/panelPhoto.txt
